@import url('https://fonts.cdnfonts.com/css/retro-groove');
@import url('https://fonts.cdnfonts.com/css/super-boys');
@import url('https://fonts.cdnfonts.com/css/qweny-check');
@import url('https://fonts.cdnfonts.com/css/kick-assinger');

* {
    overflow-x: hidden;
    font-family: 'Retro Groove', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    font-family: 'Blippo', fantasy;

}

nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 0 8px 4px rgb(0, 0, 0);

}

.br {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: rgb(217, 217, 217);
    border-radius: 1rem;
    height: 5rem;
    width: 12rem;
    margin: 0;
}

.icone {
    margin-top: 1vw;
    width: 5.4vw;
    height: auto;
}


button:hover {
    cursor: pointer;
}

.br:hover {
    background-color: rgba(78, 78, 78, 0.5);
}

.fond {
    display: flex;
    background-position: top center;
    position: fixed;
    z-index: -5;
    width: 103%;
    top: -1vh;
    left: -1vw;
    filter: grayscale(0.4) blur(2.7px);
}

button {
    font-family: 'Blippo', fantasy;
    font-size: 1.4vw;
    width: 8vw;
    height: auto;
}





.forlogo {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.Logo {
    width: 32rem;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: -1rem;

}

.otext {

    width: 100vw;
    font-family: 'Blippo', fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
    text-align: center;
    font-size: 1.3vw;

}

.pinfo {
    margin: 0.15vw;
    width: 12vw;

}

.info {
    margin-top: 1rem;
    border: 0.1rem white solid;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    width: 32rem;
    font-size: 1rem;
    font-family: 'Qweny Check', sans-serif;
    height: 8rem;
    line-height: 1.3;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.info2 {
    margin-top: 4.5rem;
    border: 0.1rem white solid;
    color: rgb(217, 217, 217);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    font-size: 1rem;
    font-family: 'Qweny Check', sans-serif;

    line-height: 1.3;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);


}

#noborder {
    border: 0;
    width: 35rem;
    margin-top: 2rem;
}

#reserv {
    width: 30rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-left: 0;
    border-right: 0;
    background-color: rgba(255, 255, 255, 0);
}

#reserver {
    width: 20rem;
    border: 0.15rem rgb(0, 0, 0) solid;
    margin: 1rem 0;
}

#annuler {
    background-color: rgb(0, 0, 0, 0);
    border: 0.15rem rgb(229, 229, 229) solid;
    border-radius: 0.3rem;
    color: rgb(229, 229, 229);
}

#annuler:hover {
    background-color: rgb(229, 229, 229);
    color: rgb(0, 0, 0);
}

.souligner {
    text-decoration: underline;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;

    color: rgb(230, 230, 230);
}

#numi {
    font-size: 1.5em;
    margin-left: 0.6rem;
    font-family: 'Kick Assinger', sans-serif;
}

#contacter {
    margin-top: 2rem;
    font-size: 2rem;
}


footer {
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -1rem;
    margin-top: 2rem;
}


#num {
    border: 0.2vw rgb(255, 255, 255) solid;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 3rem;
    overflow: hidden;
    border-radius: 0.3rem;
}

.tel {
    width: 1.6vw;
    height: auto;
    margin: 1vw;
    margin-left: 0;

}

a {
    text-decoration: none;
}

.numero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-size: 1vw;
    overflow: hidden;

}

#num:hover {
    background-color: rgb(86, 86, 86);
}






.section {


    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 4rem;



}

.choixplat {


    width: 100vw;
    height: 3rem;
    border-radius: 0.2rem;
    background-color: rgb(92, 20, 20);
    color: rgb(255, 255, 255);
    border: 0.12rem rgb(0, 0, 0) solid;
    font-family: 'Super Boys', sans-serif;

}

.choixplatselect {
    width: 100vw;
    height: 3rem;
    border-radius: 0.2rem;
    color: rgb(255, 255, 255);
    border: 0.12rem rgb(0, 0, 0) solid;
    font-family: 'Super Boys', sans-serif;
    background-color: rgb(139, 38, 38);
}

.choixplat:hover {
    background-color: rgb(139, 38, 38);
}


.pose {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    position: fixed;

    margin-top: 4.3rem;
}

.menu {
    box-shadow: 0 0 8px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    position: fixed;
    border: 0.1rem black solid;
    z-index: 10;
}

.choixmenu {

    background-color: rgb(220, 186, 116);
    width: 100vw;
    border: 0.1rem rgb(83, 49, 27) solid;
    font-family: 'Super Boys', sans-serif;
    height: 3rem;

}

.choixmenuselect {

    background-color: rgb(255, 229, 176);
    width: 100vw;
    border: 0.1rem rgb(83, 49, 27) solid;
    font-family: 'Super Boys', sans-serif;
    height: 3rem;

}



.Categorie {
    padding: 1rem;
    margin-top: 3rem;
    width: 77.5%;
    height: 75%;

    box-shadow: 0 0 8px 2px rgb(0, 0, 0);
    background-color: rgba(14, 14, 14, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 10rem;


}


#Ramen {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 50%;
    height: 1rem;
    border-radius: 3px;
 
    box-shadow: 0 0 10px 3px black;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.2rem black solid;
    padding: 3.3rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: content-box;
    overflow: hidden;

}

.choixmenu:hover {

    background-color: rgb(235, 215, 176);
}


.sashimage {
    display: flex;
    position: static;
    width: 40rem;
    height: auto;
    margin-left: 0;
    left: 0;

    clip-path: polygon(0 30px, 100% 30px, 100% 70rem, 0 70rem);
    box-sizing: border-box;

}

.description {
    text-align: center;
    color: white;
    margin: 0.5rem 0;
}

.prix {
    display: flex;
    flex-direction: row;

}

.recadre {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    flex-direction: column;
}

#ppp {
    width: 50%;
    display: flex;

    text-align: start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3rem;

}

.espace {
    margin: 0.2rem 0.5rem;

}

.parfum {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0.1rem rgb(255, 255, 255) solid;
    color: rgb(201, 201, 201);
    display: flex;
    text-align: center;

    margin: 0.1rem 0;
    width: 8rem;
    height: 1.7rem;
    border-radius: 0.3rem;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#input {
    height: 1.7rem;
    margin: 0.4rem;
    border: 0.1rem rgb(255, 255, 255) solid;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#inputnum {
    height: 1.7rem;
    margin: 0.4rem;
    border: 0.1rem rgb(255, 255, 255) solid;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

option {
    color: black;
}

#horaire {
    margin: 0.3rem 0;

}

.noline {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;



}